* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

a {
    text-decoration: none;
    color: black;
}

/*header*/
.contenedor-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

.contenedor-header.scrolled {
    background: url(assets/imagen.jpg);
}

.contenedor-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.contenedor-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contenedor-logo img {
    border-radius: 50%;
    border: 1.5px solid;
    height: 45px;
    width: 60px;
}

/* Estilos del menú hamburguesa */
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    width: 40px;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 5px;
    background-color: aliceblue;
}

.menu-hamburguesa .linea {
    height: 3px;
    background-color: rgb(12, 12, 12);
    margin: 4px 4px;
}

.contenedor-lista {
    display: flex;
    justify-content: space-between;
}

.lista {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-weight: 500;
}

.lista li {
    list-style: none;
}

.banner-combinado {
    background-image: url('assets/imagen.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.texto-banner {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

.texto-banner h2 {
    padding: 15px;
}

.enlaces {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.enlaces a {
    font-size: 15px;
    height: 50px;
    width: 95px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.enlaces a:hover {
    background-color: #d0c2c2;
    height: 55px;
    width: 100px;
    border: none;
    border-radius: 10%;
}

.imagen_sobre-mi {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen_sobre-mi img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

/*sobre mi*/
.contenedor-principal__sobre-mi {
    padding: 30px;
}

.contenedor-descripcion__sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenedor-descripcion__sobre-mi h2 {
    font-size: 40px;
    padding: 20px;
}

.contenedor-descripcion__sobre-mi p {
    font-size: 25px;
    text-align: center;
}

.contenedor-firma__sobre-mi {
    padding: 15px;
    height: 200px;
    width: 200px;
}

.contenedor-firma__sobre-mi img {
    height: 200px;
    width: 200px;
}

/* skill*/
.contenedor-principal_skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.contenedor-principal_skill h2 {
    align-self: center;
    padding: 35px;
    font-size: 40px;
}

.contenedor-cards_skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.cards-skil {
    background-color: rgb(244, 244, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.cards-skil:hover {
    width: 205px;
    box-shadow: 1px 1px 1px 1px black;
}

.cards-skil img {
    height: 150px;
}

/* Hobbies*/
.contenedor-principal_hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.contenedor-principal_hobbies h2 {
    align-self: center;
    padding: 35px;
    font-size: 40px;
}

.contenedor-cards_hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
}

.cards-hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

/*formación*/
.contenedor-principal_formacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.contenedor-principal_formacion h2 {
    align-self: center;
    padding: 35px;
    font-size: 40px;
}

.contenedor-cards_formacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.cards-formacion {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.cards-formacion img {
    height: 200px;
    width: 270px;
    border-radius: 20px;
}

/*experiencia profesional*/
.contenedor-principal_experiencia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}

.contenedor-principal_experiencia h2 {
    align-self: center;
    padding: 35px;
    font-size: 40px;
}

.contenedor-cards_experiencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

.cards-experiencia {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: #b3afaf;
}

.cards-experiencia:hover {
    width: 550px;
    height: 350px;
}

.cards-experiencia img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.cards-experiencia-titulo {
    background-color:#e0dada ;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cards-experiencia button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cards-experiencia button a {
    text-decoration: none;
    color: black;
}

.cards-experiencia:hover .cards-experiencia-titulo {
    opacity: 1;
    transform: translateY(0);
}

/*contacto*/
.contenedor-principal_contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
}

.contenedor-primario_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-primario_contacto h4 {
    font-size: 40px;
    padding: 20px;
}

.contenedor-primario_contacto p {
    width: 500px;
}

.contenedor-primario_contacto img {
    height: 100px;
    width: 100px;
}

.contenedor-secundario_contacto {
    border-radius: 20px;
    padding: 10px;
}

.contenedor-secundario_contacto p {
    padding: 5px;
}

.contenedor-formulario_contacto {
    background-color: rgb(224, 223, 222);
    border-radius: 20px;
    padding: 5px;
}

.contenedor-formulario_contacto form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    height: 550px;
    width: 400px;
}

.contenedor-formulario_contacto label {
    display: flex;
}

.contenedor-formulario_contacto input {
    height: 50px;
    border: none;
}

.contenedor-formulario_contacto textarea {
    height: 250px;
    border: none;
    resize: none;
}

.contenedor-formulario_contacto button {
    align-self: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.contenedor-formulario_contacto button:hover {
    border: 0.5px solid;
}

.contenedor-footer {
    font-size: 15px;
    padding: 10px;
    background-color: #b3afaf;
    text-align: center;
}

/*tableta*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .contenedor-header.scrolled {
        background: transparent;
        display: none;
    }

    .contenedor-nav {
        display: flex;
        justify-content: space-between;
    }

    .contenedor-lista {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 10px;
        left: 10px;
        border-radius: 10px;
        background: url(assets/imagen.jpg);
    }

    .contenedor-lista.activo {
        display: flex;
    }

    .menu-hamburguesa {
        display: flex;
    }

    .lista {
        flex-direction: column;
        gap: 20px;
    }

    .lista li {
        margin: 10px 2px;
        width: 150px;
        display: flex;
        justify-content: center;
    }

    .lista li:hover {
        background-color: rgb(196, 193, 193);
        border-radius: 20px;
    }


    .contenedor-descripcion__sobre-mi h2 {
        font-size: 30px;
    }

    .contenedor-descripcion__sobre-mi p {
        font-size: 20px;
    }

    .contenedor-principal_skill h2 {
        font-size: 30px;
    }

    .contenedor-principal_hobbies h2 {
        font-size: 30px;
    }

    .contenedor-principal_formacion h2 {
        font-size: 30px;
    }

    .contenedor-principal_experiencia h2 {
        font-size: 30px;
    }

    .contenedor-principal_contacto h4 {
        font-size: 25px;
    }

    .contenedor-primario_contacto p {
        text-align: center;
        font-size: 20px;
    }
}

/* pantalla celular*/
@media screen and (max-width:767px) {

    .contenedor-header.scrolled {
        background: transparent;
        display: none;
    }

    .contenedor-nav {
        display: flex;
        justify-content: space-between;
    }

    .contenedor-lista {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 10px;
        left: 10px;
        border-radius: 10px;
        background: url(assets/imagen.jpg);
    }

    .contenedor-lista.activo {
        display: flex;
    }

    .menu-hamburguesa {
        display: flex;
    }

    .lista {
        flex-direction: column;
        gap: 20px;
    }

    .lista li {
        margin: 10px 2px;
        width: 150px;
        display: flex;
        justify-content: center;
    }

    .lista li:hover {
        background-color: rgb(196, 193, 193);
        border-radius: 20px;
    }

    .banner-combinado {
        display: flex;
        flex-direction: column;
        height: 600px;
        padding: 25px;
    }

    .texto-banner {
        font-size: 25px;
    }

    .enlaces {
        padding: 10px;
    }

    .imagen_sobre-mi {
        align-items: center;
        width: 200px;
        padding: 5px;
    }

    .imagen_sobre-mi img {
        padding: 10px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    /*sobre mi*/
    .contenedor-principal__sobre-mi{
        padding: 10px;
    }
    .contenedor-descripcion__sobre-mi h2 {
        font-size: 20px;
        padding: 5px;
    }

    .contenedor-descripcion__sobre-mi p {
        font-size: 15px;
    }

    .contenedor-firma__sobre-mi {
        padding: 10px;
        height: 190px;
        width: 190px;
    }

    .contenedor-firma__sobre-mi img {
        height: 190px;
        width: 190px;
    }

    /*skill*/
    .contenedor-principal_skill {
        padding: 20px;
    }

    .contenedor-principal_skill h2 {
        font-size: 20px;
    }

    .contenedor-cards_skill {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    .cards-skil {
        height: 150px;
        width: 150px;
    }

    .cards-skil img {
        height: 100px;
    }

    /*hobbies*/
    .contenedor-principal_hobbies {
        padding: 20px;
    }

    .contenedor-principal_hobbies h2 {
        align-self: center;
        padding: 20px;
        font-size: 20px;
    }

    .contenedor-cards_hobbies {
        padding: 25px;
    }

    /*formacion*/
    .contenedor-principal_formacion {
        padding: 10px;
    }

    .contenedor-principal_formacion h2 {
        font-size: 20px;
    }

    .contenedor-cards_formacion {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .cards-formacion {
        text-align: center;
    }

    .cards-formacion img {
        height: 150px;
        width: 200px;
    }

    /*experiencia profesional*/
    .contenedor-principal_experiencia {
        padding: 5px;
    }

    .contenedor-principal_experiencia h2 {
        font-size: 20px;
    }

    .contenedor-cards_experiencia {
        gap: 10px;
    }

    .cards-experiencia {
        width: 250px;
        height: 250px;
    }

    .cards-experiencia:hover {
        width: 260px;
        height: 260px;
    }

    .cards-experiencia img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        transition: opacity 0.3s ease;
    }

    /*contacto*/
    .contenedor-principal_contacto h4 {
        font-size: 20px;
    }

    .contenedor-primario_contacto p {
        width: 200px;
        font-size: 10px;
    }

    .contenedor-secundario_contacto {
        padding: 5px;
    }

    .contenedor-formulario_contacto {
        padding: 10px;

    }

    .contenedor-formulario_contacto form {
        width: 280px;
    }

    .contenedor-formulario_contacto button {
        align-self: center;
        cursor: pointer;
    }
}